<div>
  <md-toolbar color="primary">
    <md-icon class="icon-20">pets</md-icon>
    Harmony Pack
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav align="end" mode="side" #sidenav>
      <md-tab-group>
        <md-tab>
          <ng-template md-tab-label>Details</ng-template>
          <ng-template md-tab-content></ng-template>
          <button md-raised-button (click)="sidenav.close()" color="accent">Close</button>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>Feed</ng-template>
          <ng-template md-tab-content></ng-template>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <md-grid-list cols="4" rowHeight="200px">
      <md-grid-tile *ngFor="let dog of dogs" [rowspan]="dog.rows">
        <img src="assets/{{dog.name}}.png" alt="Photo of {{dog.name}}">
        <md-grid-tile-footer>
          <h3 md-line>{{dog.name}}</h3>
          <h3 md-line>Human: {{dog.human}}</h3>
          <button md-icon-button>
            <md-icon>info</md-icon>
          </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-sidenav-container>
</div>